    
<h1 id="addTitle"><%= title %></h1>

<%- messages() %>

<div id="addContainer">
    <form action="/account/comment" class="addForm" method="POST">
        <label for="comment">Your Comment:</label><br>
        
        <textarea id="comment" name="comment" rows="4" cols="32" placeholder="Looking for recommendations? Ask our community here!"></textarea><br>
        <button type="submit">Send</button>
    </form>
</div>    
