<h1>Welcome to CSE Motors</h1>
    <body>
    
        <div class="banner">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button class="banner-but">Own Today</button>
        </div>

        <div class="hero-image">
            <img src="/images/vehicles/delorean.jpg" alt="delorean_car">
        </div>

        <div class="content">
            
            <div class="upgrades">
                <h2 class="h2title">Dolerean Upgrades</h2>
                <div class="upgrade-box">
                    <img src="/images/upgrades/flux-cap.png" alt="flux_capacitator">
                    <a href="">Flux Capacitor</a>
                </div>
                <div class="upgrade-box">
                    <img src="/images/upgrades/flame.jpg" alt="flame">
                    <a href="">Flame Decals</a>
                </div>
                <div class="upgrade-box">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
                    <a href="">Bumper Sticker</a>
                </div>
                <div class="upgrade-box">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub_cap">
                    <a href="">Hub caps</a>
                </div>
            </div>

            <div class="reviews">
                <h2 class="h2title">DMC Delorean Reviews </h2>
                <ul>
                    <li>"So fast it's almost like travelling in time."(4/5)</li>
                    <li>"Coolest ride on the road."(4/5)</li>
                    <li>"I'm feeling McFly."(5/5)</li>
                    <li>"The most futuristic ride of our day."(4/5)</li>
                    <li>"80's living and I love it."(4/5)</li>
                </ul>
            </div>

        </div>
    
    </body> 
