@media only screen and (max-width: 768px) {
    body {
      padding: 10px;
    }
  
    .banner {
      position: static;
      margin: 20px auto;
      width: fit-content;
    }
  
    .content {
      grid-template-columns: 1fr;
    }
  
    .reviews {
      grid-column: 1;
    }
  
    .upgrade-box {
      width: calc(50% - 20px);
    }

    nav ul {
        flex-direction: column; 
      }
    
    nav li {
        padding: 15px 0; 
        margin: 4px 0;
        width: 100%; 
        text-align: center; 
    }
    
  }

  