
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/**********header**********/

#top-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteName a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

nav a {
  text-decoration: none;
  color: #fff; /* Adjust link color */
}


/**********navigation**********/

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  background-color: #333;
  display: flex;
}

nav li {
  font-family:"Montserrat";
  text-align: center;
  padding: 15px 50px;
  margin: 8px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav li:hover {
  background-color: #555;
}

/**********Home (index.ejs) **********/

body{
  background-color: #fff;
  border: 10px solid lightblue; 
  border-radius: 5%;
  padding: 20px;
  width: fit-content;
  margin: 2% auto;
}

.hero-image {
  text-align: center; 
}

.hero-image img {
  display: block; 
  margin: 0 auto; 
}

/********** Banner **********/
.banner h2 {
  margin: 0;
}

.banner {
  position: absolute;
  top: 32%;
  left: 32%;
  background-color: rgba(243, 244, 245, 0.902); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  width: 200px;
  color: rgba(7, 156, 161, 0.87);
  font-size: 1.2rem;
}

.banner-but {
  background-color: rgba(7, 156, 161, 0.87); 
  color: white; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px; 
}

.banner-but:hover {
  background-color: #0056b3; 
}
/**********Dolerean Upgrades **********/
.content {
  display: flex;
  justify-content: center; 
  column-gap: 50px;
}

.upgrades{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.h2title {
  margin: 50px;
  grid-column: span 2;
}

.upgrade-box{
  border: 2px solid lightblue;
  background-color: lightblue;
  margin: 10px;
  width: 150px;
  height: 150px; /* Increase the height to accommodate the link beneath the image */
  border-radius: 5px;
  padding: 10px;
  text-align: center; /* Center the content inside the box */
}

.upgrade-box img{
 display: block;
 margin: 5px auto;
}

.upgrade-box a {
  text-decoration: none;
  color: blue;
  padding: 5px;
}

.reviews{
  grid-column: 2;
}

.reviews li {
  margin-bottom: 30px;
}

.reviews ul li {
  font-size: 1.5rem;
}


/* Classification Grid styles */
.vehicle-item {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

#inv-display {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px; /* Adjust spacing between grid items */
}

#inv-display li {
  display: flex;
  flex-direction: column;
}

#inv-display li img {
  width: 100%; 
  height: auto;
}

.namePrice {
  margin-top: 10px;
  text-align: center;
}

.namePrice h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.namePrice span {
  font-size: 1rem;
  color: #555; /* Adjust price color */
}

.notice {
  text-align: center;
  color: #888; 
}


@media only screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .banner {
    position: static;
    margin: 20px auto;
    width: fit-content;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .upgrades{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upgrade-box {
    width: calc(50% - 20px);
  }

  nav ul {
      flex-direction: column; 
    }
  
  nav li {
      padding: 15px 0; 
      margin: 4px 0;
      width: 100%; 
      text-align: center; 
  }
  
}

/* Detail styles */

.vehicle-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.vehicle-details h2 {
  flex-basis: 100%;
}

.vehicle-details img {
  max-width: 100%;
  height: auto;
}

.vehicle-details p {
  flex-basis: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin-top: 50px;
}

/*Login form*/

#loginTitle {
  text-align: center;
}

#loginContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

#loginForm {
  margin-bottom: 20px;
  
}

#loginForm label {
  display: block;
  margin-bottom: 5px;
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#loginForm button[type="submit"] {
  display: block;
  margin: 1rem auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#loginForm button[type="submit"]:hover {
  background-color: #0062cc;
}

#loginForm span {
  display: block;
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

#loginForm p {
  text-align: center;
}

#loginForm a {
  color: #007bff;
  text-decoration: none;
}

#loginForm a:hover {
  text-decoration: underline;
}

/*Register form*/
#registerTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#registerContainer {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

#registerForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

#registerForm input[type="text"],
#registerForm input[type="email"],
#registerForm input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#registerForm button[type="submit"] {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#registerForm button[type="submit"]:hover {
  background-color: #3e8e41;
}

.notice {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
  color: red;
}

.notice li {
  margin-bottom: 0.5rem;
}

/* Add Classification form */

#addTitle {
  text-align: center;
}

#addContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.addForm  {
  margin-bottom: 20px;
  
}

.addForm label {
  display: block;
  margin-bottom: 5px;
}

.addForm  input[type="text"]{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.addForm  button[type="submit"] {
  display: block;
  margin: 1rem auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addForm button[type="submit"]:hover {
  background-color: #0062cc;
}

.addForm  span {
  display: block;
  font-size: 14px;
  color: #666;
  margin: 10px 10px;
}

.addForm a:hover {
  text-decoration: underline;
}


