<h1 id="addTitle"><%= title %></h1>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div id="addContainer">
    <h2 id="addClassh2">Field is required</h2>
    <form id="addForm" action="/inv/add-classification" method="post">
        <label for="classification_name">Classification Name:</label>
        <input type="text" id="classification_name" name="classification_name" required pattern="[A-Za-z]+">
        <span>The classification name must not include any spaces or special characters.</span>
        <button type="submit">Add Classification</button>
    </form>
</div>