<h1 id="addClassificationTitle"><%= title %></h1>

<div id="addClassificationContainer">
    <h2 id="addClassh2">Field is required</h2>
    <form id="addClassificationForm" action="inv/add-classification" method="post">
        <label for="addclassification"> Classification Name: </label>
        <input type="text" name="" id="addclassification">
        <span>Name must be alphabetic characters only</span>
        <br>
        <button type="submit">Add Classification</button>
    </form>
</div>